.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-header {
  background-color: #1E90FF;
  color: white;
  padding: 1rem;
  text-align: center;
}

.dashboard-content {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #f0f0f0;
  width: 200px;
  padding: 1rem;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 1rem;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.main-content {
  flex: 1;
  padding: 1rem;
  background-color: #fff;
}

.widget {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.widget h2 {
  margin-top: 0;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
  /* background-color: #f8f9fa; */
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
}

.logo-container {
  /* flex: 1; */
  padding-right: 1rem;
}

.logo {
  height: 40px; /* Adjust as needed */
}

.title {
  /* flex: 2; */
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
}

.logout-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.logout-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #0056b3;
}

.logout-span {
  cursor: pointer;
}

.div-padding-right {
  padding-right: 1rem;
}